Flujo Node-Red.json
[
    {
        "id": "da5d7772.b386f",
        "type": "tab",
        "label": "Conexion Bidireccional MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "914b1b89.588718",
        "type": "mqtt out",
        "z": "da5d7772.b386f",
        "name": "Led",
        "topic": "esp32/led",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a38af363efe262f6",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "210f92f5957dc5a0",
        "type": "ui_switch",
        "z": "da5d7772.b386f",
        "name": "",
        "label": "Off / On",
        "tooltip": "",
        "group": "c10a63920d79b2d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "914b1b89.588718",
                "1c2f7982b629dbf5"
            ]
        ]
    },
    {
        "id": "714323aa1505ab9c",
        "type": "mqtt in",
        "z": "da5d7772.b386f",
        "name": "Temperatura",
        "topic": "esp32/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a38af363efe262f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "b3073c70192bd777",
                "1c2f7982b629dbf5"
            ]
        ]
    },
    {
        "id": "b3073c70192bd777",
        "type": "ui_chart",
        "z": "da5d7772.b386f",
        "name": "",
        "group": "f22356be992877b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "25",
        "ymax": "30",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "12afed3b7a8113af",
        "type": "ui_gauge",
        "z": "da5d7772.b386f",
        "name": "",
        "group": "f22356be992877b0",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 660,
        "y": 540,
        "wires": []
    },
    {
        "id": "85f66a7a7442191f",
        "type": "mqtt in",
        "z": "da5d7772.b386f",
        "name": "Humedad",
        "topic": "esp32/hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a38af363efe262f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 540,
        "wires": [
            [
                "12afed3b7a8113af",
                "1c2f7982b629dbf5"
            ]
        ]
    },
    {
        "id": "1c2f7982b629dbf5",
        "type": "debug",
        "z": "da5d7772.b386f",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "a38af363efe262f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c10a63920d79b2d8",
        "type": "ui_group",
        "name": "Encender LED",
        "tab": "ab273459232bec66",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f22356be992877b0",
        "type": "ui_group",
        "name": "Sensor DHT",
        "tab": "ab273459232bec66",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab273459232bec66",
        "type": "ui_tab",
        "name": "Menu",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
