Flujo Node-Red.json
[
    {
        "id": "57e2d48dfcda45fe",
        "type": "tab",
        "label": "Conexion Bidireccional MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "da7fc91f2b38225d",
        "type": "mqtt out",
        "z": "57e2d48dfcda45fe",
        "name": "Led",
        "topic": "esp32/led",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a38af363efe262f6",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "bb51deaa3d373153",
        "type": "ui_switch",
        "z": "57e2d48dfcda45fe",
        "name": "",
        "label": "Off / On",
        "tooltip": "",
        "group": "3bac0a170c640150",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "da7fc91f2b38225d",
                "fdc21ab1a76cd95a"
            ]
        ]
    },
    {
        "id": "f0e7dcd1afadab05",
        "type": "mqtt in",
        "z": "57e2d48dfcda45fe",
        "name": "Temperatura",
        "topic": "esp32/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a38af363efe262f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "fdc21ab1a76cd95a",
                "3c63f0f6d863e10f"
            ]
        ]
    },
    {
        "id": "3c63f0f6d863e10f",
        "type": "ui_chart",
        "z": "57e2d48dfcda45fe",
        "name": "",
        "group": "8bd0916a25d0896a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura °C",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "96f3eca6201f0dfb",
        "type": "ui_gauge",
        "z": "57e2d48dfcda45fe",
        "name": "",
        "group": "6dcdb443594fd529",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 660,
        "y": 540,
        "wires": []
    },
    {
        "id": "3650cbfcd267646a",
        "type": "mqtt in",
        "z": "57e2d48dfcda45fe",
        "name": "Humedad",
        "topic": "esp32/hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a38af363efe262f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 540,
        "wires": [
            [
                "96f3eca6201f0dfb",
                "fdc21ab1a76cd95a"
            ]
        ]
    },
    {
        "id": "fdc21ab1a76cd95a",
        "type": "debug",
        "z": "57e2d48dfcda45fe",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "d93b38cce598d470",
        "type": "ui_spacer",
        "z": "57e2d48dfcda45fe",
        "name": "spacer",
        "group": "f22356be992877b0",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "a553ed8a83dfcdb5",
        "type": "ui_spacer",
        "z": "57e2d48dfcda45fe",
        "name": "spacer",
        "group": "f22356be992877b0",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "5aaaf32a473feed9",
        "type": "ui_spacer",
        "z": "57e2d48dfcda45fe",
        "name": "spacer",
        "group": "f22356be992877b0",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "a38af363efe262f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3bac0a170c640150",
        "type": "ui_group",
        "name": "LED",
        "tab": "ab273459232bec66",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8bd0916a25d0896a",
        "type": "ui_group",
        "name": "Sensor DHT",
        "tab": "ab273459232bec66",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6dcdb443594fd529",
        "type": "ui_group",
        "name": "Sensor DHT",
        "tab": "ab273459232bec66",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab273459232bec66",
        "type": "ui_tab",
        "name": "Menu",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
